<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }} | FileLink</title>
    </head>
    <body>
        <header>
            <a href="{% url "shares:index" %}">FileLink</a>
            {% if user.is_superuser %}
            <a href="{% url "admin:index" %}" target="_blank">
                Admin
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" style="width: 0.8em; height: 0.8em;">
                    <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
                    <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
                </svg>
            </a>
            {% endif %}
            {% if user.is_authenticated %}
                <form action="{% url "logout" %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Logout">
                </form>
            {% endif %}
        </header>
        <main>
            <h1>{{ title }}</h1>
            {% block content %}{% endblock %}
    </body>
</html>
