<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }} | FileLink</title>
    </head>
    <body>
        <header>
            <a href="{% url "shares:index" %}">FileLink</a>
            {% if user.is_authenticated %}
                <form action="{% url "logout" %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Logout">
                </form>
            {% endif %}
        </header>
        <main>
            <h1>{{ title }}</h1>
            {% block content %}{% endblock %}
    </body>
</html>
