{% extends "shares/base.html" %}
{% load shares_filters %}

{% block content %}
<table border="1" cellspacing="0" cellpadding="5px">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% if parent_path %}
        <tr>
            <td><a href="{% url "shares:files" %}?path={{ parent_path }}">Parent</a></td>
            <td></td>
        </tr>
        {% endif %}
        {% for directory in directories %}
        <tr>
            <td><a href="{% url "shares:files" %}?path={{ directory.path }}">{{ directory.name }}</a></td>
            <td></td>
        </tr>
        {% endfor %}
        {% for file in files %}
        <tr>
            <td>{{ file.name }}</td>
            <td>
                {% if file.name in shares %}
                <a href="{% url "shares:share" shares|get_key:file.name|get_attr:"id" %}">Manage</a>
                {% else %}
                <a href="{% url "shares:new_share" %}?path={{ file.path }}">Share</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
