{% extends "shares/base.html" %}

{% block content %}
<table border="1" cellspacing="0" cellpadding="5px">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% if parent_path %}
        <tr>
            <td><a href="{% url "shares:files" %}?path={{ parent_path }}">Parent</a></td>
        </tr>
        {% endif %}
        {% for directory in directories %}
        <tr>
            <td><a href="{% url "shares:files" %}?path={{ directory.path }}">{{ directory.name }}</a></td>
        </tr>
        {% endfor %}
        {% for file in files %}
        <tr>
            <td>{{ file.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
