{% extends "shares/base.html" %}

{% block content %}
<table border="1" cellspacing="0" cellpadding="5px">
    <thead>
        <tr>
            <th>Path</th>
            <th>Link</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for share in shares %}
        <tr>
            <td>{% if share.directory %}{{ share.directory }}/{% endif %}{{ share.name }}</td>
            <td><a href="{% url "shares:download_share" share.slug %}">Direct Download</a></td>
            <td>
                <a href="{% url "shares:share" share.id %}">Manage</a>
                <a href="{% url "shares:delete_share" share.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
